body{
  font-family: "Sora", serif;
}
.banner{
  background-image: url('assets/bg-shadow.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.subscribe{
  border-radius: 12px;
  box-shadow: inset 4px 4px 20px 0px rgba(255, 35, 1, 0.9);
}
.footerSub{
  box-shadow: inset 4px 4px 20px 0px rgba(255, 35, 1, 0.9);
  list-style-type: disc;
}
.active{
  background-color: #E7FE29;
  font-weight: 700;
  border-radius:12px;
}
.fixPadding{
  padding: 12px !important
}
.footer{
  background-color: #06091A;
}